# Node & NestJS
node_modules/
dist/
.env
*.log
*.tsbuildinfo

# Next.js
.next/
out/

# Yarn
.yarn/
.yarnrc.yml
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Build and cache
.cache/
coverage/
build/
tmp/
temp/

# Windows system files
Thumbs.db
Desktop.ini

# Mac system files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# Vim swap files
*.swp
